@media (min-width: 768px) {
  .newslist.container {
    max-width: 1400px !important;
    padding-left: 0;
    padding-right: 0;
  }
  
  .newslist .row {
    margin-left: 0;
    margin-right: 0;
  }

  .newslist .col-md-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .newslist .card {
    margin-left: 0;
    margin-right: 0;
  }

  button.btn.btn-outline-secondary.btn-block.load-more {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .newslist.container {
    max-width: unset !important;
    margin: 0;
    padding: 0;
  }

  .button.btn {
    margin: 10px 15px 10px 15px !important;
  }
}