@media (min-width: 768px) {
  .card {
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 45px !important;
    margin-top: 0px;
    width: 100%;
    display: inline-block;
  }

  .card-body {
    padding: 20px 10px 15px 10px !important;
  }

  h5.card-title {
    margin-bottom: 0;
    color: #00A297;
    font-weight: bold;
    font-size: 15px;
  }
  
  img.card-img-top {
    height: 160px;
    margin-top: 20px;
    max-height: 160px;
  }

  .card-text {
    font-size: 12px;
  }

  p.card-text.fix-125 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .fix-25 {
    overflow: hidden;
    max-height: 25px;
  }

  .fix-125 {
    overflow: hidden;
    max-height: 125px;
  }
}

@media (max-width: 767px) {
  .card {
    /* margin-right: 0px !important; */
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .card-body {
    padding: 8px 10px 10px 10px !important;
  }
  .card-title {
    text-align: left;
    padding-left: 10px;
    float: right;
    margin: 20px 0 10px 0 !important;
    padding-left: 210px;
    width: 100%;
    color: #00A297;
    font-weight: bold;

  }
  .card-img-top {
    width: 200px !important;
    height: 200px !important;
    float: left;
    position: absolute;
  }
  .card-text {
    width: 100%;
    float: left;
    padding-left: 210px;
    text-align: left;
    margin-bottom: 10px;
  }
}
