.header .navbar-collapse {
  background-color: #009687;
}

.header .nav-item a {
  color: white;
  font-weight: bold;
}

.header .navbar-brand {
  border-radius: 50%;
}


@media (min-width:768px) {
  .header {
    padding: 20px;
  }

  .header .navbar-brand {
    height: 120px;
    width: 120px;
    min-height: 120px;
    min-width: 120px;
    margin-right: 80px !important;
    line-height: 120px !important;
    border: solid 1px gray;
  }

  .header .navbar-collapse {
    max-height: 50px;
    width: calc(100% - 200px);
  }

  ul.navbar-nav {
    height: 50px;
    width: 1000px;
    min-width: 400px;
  }

  li.nav-item {
    line-height: 50px;
    width: 25%;
    border-right: solid 1px white;
  }

  .header .input-group {
    margin: 8px 15px 8px 15px;
    background-color: #00A297;
    border-radius: 12px;
  }

  input.form-control {
    border: none;
    background-color: inherit;
    color: white;
    border-radius: 12px
  }

  input.form-control:focus {
    color:  white;
    background-color: inherit;
  }

  span.input-group-text {
    color: white;
    background-color: inherit;
    border: none;
    padding: 10px;
  }

  .header .mobile {
    display: none;
  }

  .header .title {
    display: none;
  }

  .form-control::-webkit-input-placeholder { color: white !important; }  /* WebKit, Blink, Edge */
  .form-control:-moz-placeholder { color: white !important; }  /* Mozilla Firefox 4 to 18 */
  .form-control::-moz-placeholder { color: white !important; }  /* Mozilla Firefox 19+ */
  .form-control:-ms-input-placeholder { color: white !important; }  /* Internet Explorer 10-11 */
  .form-control::-ms-input-placeholder { color: white !important; }  /* Microsoft Edge */

}


@media (max-width:767px) {
  .header {
    padding-top: 0px;
    background: #009687;
  }

  .header .navbar-brand {
    height: 48px;
    width: 48px;
    margin-left: 18px !important;
    line-height: 48px !important;
  }

  .header .navbar-toggler {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
  }

  .header .title {
    font-size: 20px;
    z-index: 1;
    position: absolute;
    width: 100%;
    color: white;
    font-weight: bold;
  }

  .header .navbar-toggler {
    z-index: 2;
    color: white !important;
    border: 0 !important;
    padding: 0 !important;
  }

  .header .desktop {
    display: none;
  }

  .header .input-group.mobile {
    padding: 10px;
    background-color: lightgray;
  }

  span.input-group-text {
    border: none;
    padding: 10px;
    background-color: white;
    margin: 0;
  }

  input.form-control.p-0 {
    border: none;
    background-color: white;
  }
}