.footer {
  margin-top: 75px;
  margin-bottom: 16px;
}

.footer .navbar {
  padding: 0;
  background-color: #fff !important;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 74px;
}

.footer .navbar-nav {
  height: 74px;
}

.footer .navbar-collapse {
  height: 74px;
}

.footer .nav-item:not(:last-child) {
  border-right: 1px solid lightgrey;
}

.footer .nav-link {
  padding: 0px 15px 0px 16px !important;
  color: #009687 !important;
  font-weight: bold;
}

.footer ul.navbar-nav {
  padding-left: 20px;
  /* padding-right: 20px; */
}

.footer li.nav-item {
  width: fit-content;
  margin-left: -1px;
  line-height: unset;
  margin-top: auto;
  margin-bottom: auto;
}

.footer small.text-muted {
  width: max-content;
  margin-right: 20px;
}